.DelInfo{
  display: flex;
  flex-direction: column;
  border-radius:  5px 5px;
  padding: 25px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.third
{
    background-color:#FF85CE;
    color:black;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

label {
  margin-bottom: 1px;
}

.title-container{
  background-color:#FF85CE;
}

.container {
  background-color: #FFE4E4;
  padding: 5px 20px 15px 20px;
  
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.row-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding:auto;
}

.row-2 {
  text-align: justify;
  padding-left: auto;
}  

.col-1{ /* pastry type */
padding-left:100px;

  -ms-flex: 2%; 
  flex: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif;
 
}

.col-2{ /* price */
padding-left:100px;
  -ms-flex: 2%; 
  flex: 2%;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.col-3{ /* quantity */
  padding: auto;
  -ms-flex: 1.5%; 
  flex: 1.5%;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.col-4{ /* flavor */
padding-left:101px;
  -ms-flex: 1.5%; 
  flex: 1.5%;
  font-size: 17px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  
}

.row-3 {
  padding:50px;
}

.quant {
  width: 40px;
}