body, html{
  height: 100%;
}

@font-face {
  font-family: myFirstFont;
  src: url(css/CapricaScriptUpright.ttf);
  font-weight: bold;
  
}
.mx-6{
  margin-left: 5rem;
  margin-right: 5rem;
}
.bg-light {
  background-color: #FFF0FD !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #FF85CE;
  border-radius: 50rem !important;
}

.nav-pills .nav-item{
  background-color: #AFFFF5;
}

h7{
  color: purple;
  font-weight: 700;
  font-size: large;
}

.rounded-pill a.nav-link:hover, .rounded-pill a.nav-link:hover h7{
  color: purple;
  border-radius: 50rem !important;
  background-color: #FDFD97;
}

.parallax{
  margin: 0;
	padding: 0;
	background-image: url("images/parallax.jpg");
	background-attachment: fixed;
  background-position: center;
 	background-repeat: no-repeat;
 	background-size: cover;
	height: 60%
}
.card-text:last-child {
  text-align: center;
  margin-bottom: 0;
}

.py-5 {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
	font-weight: 700;
	font-size: 3rem;
	color:#44ffe9;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  text-shadow: 3px 3px indianred;
}

custom-font{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
	font-weight: 700;
	font-size: 3rem;
	color:#FDFD97 ;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  text-shadow: 3px 3px indianred;
  font-family: myFirstFont;
}

.container-max{
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: 0;
  margin-left: 0;
}


.carousel-control-prev-icon {
  background-image: url("images/control icon.png");
  width: 15%;
  height: 6%;
  transform: scaleX(-1);
}

.carousel-control-next-icon {
  background-image: url("images/control icon.png");
  width: 15%;
  height: 6%;
}

custom-font2{
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
	font-weight: 700;
	font-size: 5rem;
	color:#32ffe7 ;
  padding-top: 10rem !important;
  padding-bottom: 10rem !important;
  text-shadow: 5px 3px indianred;
  font-family: myFirstFont;
}
/*carousel with cards */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}


