<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LeSweet ADMIN</title>
	<link rel="icon" href="../admin-images/favicon.ico">
    <link href="../admin-css/bootstrap-4.3.1.css" rel="stylesheet">
    <link href="../admin-css/adminMain.css" rel="stylesheet" type="text/css">
    <!-- jQuery and plugins --> 
    <script src="../admin-js/jquery-3.3.1.min.js"></script>
    <script src="../admin-js/bootstrap-4.3.1.js"></script> 
    <script src="../admin-js/popper.min.js"></script>
  </head>
<body style="padding-top: 10rem; background-color: #FFF0FD;">
    <div class="container shadow" style="background-color: white; border-radius: 20px;">
      <h1 class="text-center pt-4 pb-4">LESWEET ADMIN</h1>
        <form action="/auth" method="POST">
          <div class="row justify-content-center py-3">
            <input type="text" id="username" name="username" placeholder="Username">
          </div>
          <div class="row justify-content-center py-3">
            <input type="password" id="password" name="password" placeholder="Password">
          </div>
          <div class="row justify-content-center py-2 pb-3">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </form>
    </div>


<!--footer-->
<footer>
	<div class="page-footer col-sm-12" style="margin-top: 10rem;">
	   <div class="container">
		  <hr class="rgba-white-light" style="margin: 0 15%;">
		  <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
		  </div>
		  <!-- Copyright -->
		  <div class="footer-copyright text-center py-1">
        © 2021 LeSweet Goodies and Pastries Website by ????. All Rights Reserved
      </div>
	   </div>
	</div>
 </footer>
</body>	
</html>