.parallax{
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60%;
  }
  .location{
    color: black;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    height: 60%;
  }

  .bg-overlay{
    background: rgba(0, 0, 0, 0.5);
  }

  .card-text:last-child {
    text-align: center;
    margin-bottom: 0;
  }
  
  .py-5 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
      font-weight: 700;
      font-size: 3rem;
      color:#44ffe9;
  
    padding-bottom: 10rem !important;
    text-shadow: 3px 3px indianred;
  }
  
  custom-font{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
      font-weight: 700;
      font-size: 3rem;
      color:#FDFD97 ;
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
    text-shadow: 3px 3px indianred;
    font-family: myFirstFont;
  }
  
  .container-max{
    width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-right: 0;
    margin-left: 0;
  }
  
  
  .carousel-control-prev-icon {
    width: 15%;
    height: 6%;
    transform: scaleX(-1);
  }
  
  .carousel-control-next-icon {
    width: 15%;
    height: 6%;
  }
  
  custom-font2{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
      font-weight: 700;
      font-size: 5rem;
      color:#32ffe7 ;
    padding-top: 10rem !important;
    padding-bottom: 10rem !important;
    text-shadow: 5px 3px indianred;
    font-family: myFirstFont;
  }
  .mx-6{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .bg-light {
    background-color: #FFF0FD !important;
  }
  
  h7{
    color: purple;
    font-weight: 700;
    font-size: large;
  }
  
  body, html{
    height: 100%;
  }
  
  @font-face {
    font-family: myFirstFont;
    src: url(CapricaScriptUpright.ttf);
    font-weight: bold;
    
  }

footer h7{
    color: purple;
    font-family: myFirstFont;
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #ffff5f;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 50rem;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

.navbar{
  background-color: #FFF0FD;
}

.third
{
    background-color:#FF85CE;
    color:black;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.order-form-bg{
  position: relative;
  height: auto;
  width: auto;
  background-image: url(../images/cakes.jpg);
  background-size: cover;
}

.order-form-bg::before{
  content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.legend-center{
  width: auto; 
  margin: 0 auto; 
  font-weight: bolder;
}

.fieldset-proper{
  border-style:groove; 
  border-color: black; 
  border-width: 1px; 
  background-color: #FFF0FD;
  border-radius: 30px;
}

.white-overlay{
  background-color: white;
  opacity: .6;
}

/*for aboutus*/
.pic {
  border-radius: 50%;
  border: 2px solid black;
}
.boxed {
border: 2px solid black ;
overflow: auto;
font-size: large;
font-family: Roboto;
font-weight: bold;
background-color: #FFE4E4;
margin-top: 20px;
padding-left: 30px;
padding-top: 5px;
padding-bottom: 5px;

}

.boxes {

border: 2px solid black ;
overflow: auto;
font-size: 18px;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
text-align: justify;
line-height: 25px;
background-color: #AFFFF5;
margin-top: 20px;
margin-left: 40px;
padding-left: 20px ;
padding-right: 20px ;
padding-top: 10px ;
padding-bottom: 10px ;

}
.Leslie {
  border: 2px solid black ;
  font-size: large;
  font-family: Roboto;
  font-weight: bold;
  text-align: center;
  background-color: #FFE4E4;
  float: left;
  width: 200px;
  }

.owner{
  padding-left: 50px;
}
/*for aboutus*/

