
  .py-5 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
      font-weight: 700;
      font-size: 3rem;
      color:#44ffe9;
  
    padding-bottom: 10rem !important;
    text-shadow: 3px 3px indianred;
  }

  .container-max{
    width: 100%;
    padding-right: 5rem;
    padding-left: 5rem;
    margin-right: 0;
    margin-left: 0;
  }
  
  
  .carousel-control-prev-icon {
    width: 15%;
    height: 6%;
    transform: scaleX(-1);
  }
  
  .carousel-control-next-icon {
    width: 15%;
    height: 6%;
  }
  

  .mx-6{
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .bg-light {
    background-color: #FFF0FD !important;
  }

  body, html{
    height: 100%;
  }
  
  h1{
    font-family: "Lucida Console";
    color: purple;
  }

  .card-img {
    opacity: .6;
    width: 100%;
    border-radius: calc(0.25rem - 1px);
  }

  .card:hover .card-img {
    transition: 0.4s ease;
    opacity: 0.2;
  }

  a .card-title{
    color: white;
    text-align: center;
    padding-top: 2rem;
    }

  a .card-text{
    color: white;
    text-align: center;
    padding-top: 2rem;
  }

  .nav{
    border-bottom-style: solid;
  }

  .nav a:hover {
    text-decoration: none;
  }

  h5{
    color: purple;
  }
  .nav a:hover h5 {
    color: black;
    text-decoration: underline;
    text-decoration-style:solid;
    text-decoration-thickness: 0.5px;
  }


  





